<p> До проекта осталось</p>
<div class="timer" id="timer-1">
    {{#each this}}
  <div class="field">
    <span class="value" data-value={{data-value}}>00</span>
    <span class="label">{{label}}</span>
  </div>
  {{/each}}

  
</div>